.header-logo-link {
  color: #ffff;
  fill: currentColor;
  outline: none;

  transition: color 1s linear;

  &:hover,
  &:focus {
    color: var(--accent-color);
    outline: none;
  }

  @media screen and (min-width: 768px) {
    color: #303030;
    margin-right: 48px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}
