.header-contacts {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    gap: 38px;
    margin-left: auto;
  }
}

.header-tel {
  transition: 0.2s linear;

  &:hover,
  &:focus {
    color: var(--accent-color);
    outline: none;
  }

  /* decorative line under nav-link */
  &::after {
    content: '';
    visibility: hidden;
    height: 3px;
    width: 100%;
    border-radius: 4px;
    display: block;
    background-color: var(--accent-color);

    transform: scale(0);
    transition: 0.18s linear;
  }
  &:hover::after,
  &:focus::after {
    visibility: visible;
    transform: scale(1);
    outline: none;
  }
  /* -------------------------- */
}
