.header {
  position: absolute;
  width: 100%;
  z-index: 1;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 32px;

  .container {
    @media screen and (max-width: 768px) {
      justify-content: space-between;
    }
    display: flex;
    align-items: center;
  }
}

.header-text {
  color: #ffff;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.burger-menu-btn {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
