:root {
  --main-bg-color: #ffff;
  --second-bg-color: #191c26;
  --details-bg-color: #f7f7f7;

  --text-main-color: #303030;

  --accent-color: #ff6c00;

  --main-btn-color: #fff;
  --second-btn-color: #303030;
  --btn-hover: #ff6c00;
  --text-hover: #ff6c00;

  --main-pre-title-color: #303030;
  --second-pre-title-color: #9da4bd99;
  --pre-title-font-size: 11px;

  --main-title-color: #ffff;
  --second-title-color: #303030;
  --title-font-size: 42px;

  --main-sub-title-color: #555;
  --second-sub-title-color: #9da4bd;
  --sub-title-font-size: 18px;

  --main-contacts-text-color: #9da4bd;
  --second-contacts-text-color: #9da4bd66;

  --feature-text-color: #303030;
  --feature-text-font-size: 11px;
  --feature-number-size: 42px;
  --feature-number-color: #303030;

  --mobile-header-text-size: 18px;
  --mobile-header-text-color: #303030;
}
