.prices-wrapper {
  display: flex;
}

.prices-list {
  padding: 30px 40px;
  flex-grow: 1;

  &:nth-child(1) {
    background: linear-gradient(180deg, #171a24 0%, #171a2433 100%);
  }
  &:nth-child(2) {
    background: linear-gradient(180deg, #090b13 0%, #090b1333 100%);
  }
}

.prices-list-item {
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
