.prices {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 130px;
  padding-bottom: 130px;

  background-color: #111319;
  background-image: url(../images/prices-bg-mobile.png);
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(#191c2633, #191c2633),
      url(../images/prices-bg-mobile@2x.png);
  }
  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: linear-gradient(#191c2633, #191c2633),
      url(../images/prices-bg-mobile@3x.png);
  }
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    background-image: url(../images/prices-bg-tablet.png);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/prices-bg-tablet@2x.png);
    }
    @media (min-device-pixel-ratio: 3),
      (-webkit-min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url(../images/prices-bg-tablet@3x.png);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/prices-bg.png);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/prices-bg@2x.png);
    }
    @media (min-device-pixel-ratio: 3),
      (-webkit-min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url(../images/prices-bg@3x.png);
    }
  }

  .pre-title {
    color: var(--second-pre-title-color);
    margin-bottom: 20px;
  }
  .section-header {
    color: var(--main-title-color);
    margin-bottom: 44px;
  }
  .sub-title {
    color: var(--second-sub-title-color);
    font-size: 14px;

    @media screen and (min-width: 768px) {
      font-size: 18px;
    }
  }

  /* service and price line-separator */
  .sub-title:first-child {
    display: flex;
    align-items: baseline;
    flex-grow: 1;
  }
  .sub-title:first-child::after {
    content: '';
    margin: 0 6px;
    flex-grow: 1;
    border-bottom: 1px solid rgba(157, 164, 189, 0.12);
  }
  /* -------------------------------------- */
}

.prices-btn {
  margin: 50 auto 0 auto;
}
