.prices-wrapper {
  background: linear-gradient(180deg, #090b13 0%, #090b1333 100%);

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.prices-list {
  padding: 30px 15px;
  flex-grow: 1;

  @media screen and (min-width: 768px) {
    padding: 30px 40px;
  }

  &:nth-child(1) {
    padding-bottom: 0;
    @media screen and (min-width: 1200px) {
      background: linear-gradient(180deg, #171a24 0%, #171a2433 100%);
    }
  }
  &:nth-child(2) {
    padding-top: 20px;
    @media screen and (min-width: 1200px) {
      background: linear-gradient(180deg, #090b13 0%, #090b1333 100%);
    }
  }
}

.prices-list-item {
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
