.book-online {
  padding-top: 84px;
  padding-bottom: 84px;
  @media screen and (min-width: 1200px) {
    padding-top: 130px;
    padding-bottom: 190px;
    padding-right: 40px;
    width: 560px;
  }

  .section-header {
    color: var(--main-title-color);
    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }
}

.contacts-and-book-online {
  background-color: var(--second-bg-color);
  //background-image: url(../images/contacts-bg.png);  ////////////TEMPORARY TESTS
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  max-width: 1350px;

  .container {
    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding-right: 0;
    }
  }
  .pre-title {
    margin-bottom: 20px;
  }
}
