.about {
  padding-top: 84px;
  padding-bottom: 84px;

  .container {
    display: flex;
  }
  .pre-title,
  .section-header,
  .sub-title {
    margin-bottom: 20px;
  }

  .text-description {
    margin-bottom: 32px;
  }

  .btn {
    color: var(--second-btn-color);
  }
  & .btn:hover,
  & .btn:focus {
    color: #fff;
    outline: none;
  }

  @media screen and (min-width: 767px) {
    padding-left: 39px;
    padding-right: 39px;
  }
  @media screen and (min-width: 1199px) {
    padding-top: 160px;
    padding-bottom: 90px;
  }
}
