<!-- ///////////////////////////////ABOUT US//////////////////////////////////////////////////////////// -->
<section class="about">
  <div class="container">
    <ul class="about-list">
      <li class="about-list-item">
        <img
          src="./images/aboutUs_img_1.jpg"
          width="270"
          height="430"
          alt="Barber at work"
        />
      </li>
      <li class="about-list-item">
        <img
          src="./images/aboutUs_img_2.jpg"
          width="270"
          height="430"
          alt="Barber at work"
        />
      </li>
    </ul>
    <div class="about-text">
      <p class="pre-title">About us</p>
      <h2 class="section-header">The best Barbershop in your city</h2>
      <p class="sub-title">
        If you want to add more confidence to your image, you should definitely
        come to us.
      </p>
      <p class="text-description">
        We are a team that never rests on its laurels and is hungry for change.
        And when you fall into the hands of our master, you will never be the
        same again. We are a team that is always on the same page with our
        clients. Therefore, we are always ready to improve everyone who comes to
        us!
      </p>
      <button type="button" class="btn">Book online</button>
    </div>
  </div>
</section>
