<!-- ///////////////////////////////ABOUT US//////////////////////////////////////////////////////////// -->
<section id="about-us" class="about">
  <div class="container">
    <ul class="about-list">
      <li class="about-list-item">
        <picture>
          <source
            srcset="
              ./images/about-us-1.jpg    1x,
              ./images/about-us-1@2x.jpg 2x,
              ./images/about-us-1@3x.jpg 3x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/about-us-1-tablet.jpg    1x,
              ./images/about-us-1-tablet@2x.jpg 2x,
              ./images/about-us-1-tablet@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <img
            class="about-us-img-1"
            src="./images/about-us-1.jpg"
            alt="Barber at work"
          />
        </picture>
      </li>

      <li class="about-list-item">
        <picture>
          <source
            srcset="
              ./images/about-us-2.jpg    1x,
              ./images/about-us-2@2x.jpg 2x,
              ./images/about-us-2@3x.jpg 3x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/about-us-2-tablet.jpg    1x,
              ./images/about-us-2-tablet@2x.jpg 2x,
              ./images/about-us-2-tablet@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <img
            class="about-us-img-2"
            src="./images/about-us-2.jpg"
            alt="Barber at work"
          />
        </picture>
      </li>
    </ul>
    <div class="about-text">
      <p class="pre-title">About us</p>
      <h2 class="section-header">The best Barbershop in your city</h2>
      <p class="sub-title">
        If you want to add more confidence to your image, you should definitely
        come to us.
      </p>
      <p class="text-description">
        We are a team that never rests on its laurels and is hungry for change.
        And when you fall into the hands of our master, you will never be the
        same again. We are a team that is always on the same page with our
        clients. Therefore, we are always ready to improve everyone who comes to
        us!
      </p>
      <div class="btn-wrapper">
        <button type="button" class="btn" data-modal-open abt-btn>
          Book online
        </button>
      </div>
    </div>
  </div>
</section>
