<!-- ////////////////////////////OUR BARBERS TEAM/////////////////////////////////////////////////////////////// -->
<section id="barbers" class="our-team">
  <div class="container">
    <p class="pre-title">For true connoisseurs of atmosphere</p>
    <h2 class="section-header">Our masters</h2>
    <ul class="barbers-list">
      <li class="barbers-list-item">
        <img
          class="barber-img"
          src="./images/barber-john-smith.jpg"
          alt="Barber at work"
          width="370"
          height="346"
        />
        <h3 class="barber-name">John Smith</h3>
        <p class="barber-skill">Extreme barber</p>
        <ul class="barbers-socials-list">
          <li class="barber-socials-item">
            <a
              class="barbers-socials-link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg class="barber-social-icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-instagram"></use></svg
            ></a>
          </li>
          <li class="barber-socials-item">
            <a
              class="barbers-socials-link"
              href="https://twitter.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg class="barber-social-icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-twitter"></use></svg
            ></a>
          </li>
          <li class="barber-socials-item">
            <a
              class="barbers-socials-link"
              href="https://facebook.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg class="barber-social-icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-facebook"></use></svg
            ></a>
          </li>
          <li class="barber-socials-item">
            <a
              class="barbers-socials-link"
              href="https://linkedin.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg class="barber-social-icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-linkedin"></use></svg
            ></a>
          </li>
        </ul>
      </li>
      <li class="barbers-list-item">
        <img
          class="barber-img"
          src="./images/barber-michael-doe.jpg"
          alt="Barber at work"
          width="370"
          height="346"
        />
        <h3 class="barber-name">Michael Doe</h3>
        <p class="barber-skill">Extreme barber</p>
        <ul class="barbers-socials-list">
          <li class="barber-socials-item">
            <a
              class="barbers-socials-link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg class="barber-social-icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-instagram"></use></svg
            ></a>
          </li>
          <li class="barber-socials-item">
            <a
              class="barbers-socials-link"
              href="https://twitter.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg class="barber-social-icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-twitter"></use></svg
            ></a>
          </li>
          <li class="barber-socials-item">
            <a
              class="barbers-socials-link"
              href="https://facebook.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg class="barber-social-icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-facebook"></use></svg
            ></a>
          </li>
          <li class="barber-socials-item">
            <a
              class="barbers-socials-link"
              href="https://linkedin.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg class="barber-social-icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-linkedin"></use></svg
            ></a>
          </li>
        </ul>
      </li>
      <li class="barbers-list-item">
        <img
          class="barber-img"
          src="./images/barber-alan-black.jpg"
          alt="Barber at work"
          width="370"
          height="346"
        />
        <h3 class="barber-name">Alan Black</h3>
        <p class="barber-skill">Extreme barber</p>
        <ul class="barbers-socials-list">
          <li class="barber-socials-item">
            <a
              class="barbers-socials-link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg class="barber-social-icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-instagram"></use></svg
            ></a>
          </li>
          <li class="barber-socials-item">
            <a
              class="barbers-socials-link"
              href="https://twitter.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg class="barber-social-icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-twitter"></use></svg
            ></a>
          </li>
          <li class="barber-socials-item">
            <a
              class="barbers-socials-link"
              href="https://facebook.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg class="barber-social-icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-facebook"></use></svg
            ></a>
          </li>
          <li class="barber-socials-item">
            <a
              class="barbers-socials-link"
              href="https://linkedin.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg class="barber-social-icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-linkedin"></use></svg
            ></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
