<!-- ////////////////////////////OUR BARBERS TEAM/////////////////////////////////////////////////////////////// -->
<section id="barbers" class="our-team">
  <div class="container">
    <p class="pre-title">For true connoisseurs of atmosphere</p>
    <h2 class="section-header">Our masters</h2>
    <ul class="barbers-list">
      <li class="barbers-list-item">
        <div class="barber-img-wrapper">
          <picture>
            <source
              srcset="
                ./images/barber-john-smith.jpg    1x,
                ./images/barber-john-smith@2x.jpg 2x,
                ./images/barber-john-smith@3x.jpg 3x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/barber-john-smith-tablet.jpg    1x,
                ./images/barber-john-smith-tablet@2x.jpg 2x,
                ./images/barber-john-smith-tablet@3x.jpg 3x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/barber-john-smith-mobile.jpg    1x,
                ./images/barber-john-smith-mobile@2x.jpg 2x,
                ./images/barber-john-smith-mobile@3x.jpg 3x
              "
              media="(min-width:320px)"
            />
            <img
              class="barber-img"
              src="./images/barber-john-smith.jpg"
              alt="Barber at work"
            />
          </picture>

          <p class="barber-overlay-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
            voluptatum repellendus necessitatibus, facere veniam itaque quam
            omnis iusto ad sequi totam incidunt saepe. Possimus rerum velit
            inventore perferendis nobis eveniet? Lorem ipsum dolor, sit amet
          </p>
        </div>

        <h3 class="barber-name">John Smith</h3>
        <p class="barber-skill">Extreme barber</p>
        <ul class="barbers-socials-list">
          <li class="barber-socials-item">
            <a
              class="barbers-socials-link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg class="barber-social-icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-instagram"></use></svg
            ></a>
          </li>
          <li class="barber-socials-item">
            <a
              class="barbers-socials-link"
              href="https://twitter.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg class="barber-social-icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-twitter"></use></svg
            ></a>
          </li>
          <li class="barber-socials-item">
            <a
              class="barbers-socials-link"
              href="https://facebook.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg class="barber-social-icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-facebook"></use></svg
            ></a>
          </li>
          <li class="barber-socials-item">
            <a
              class="barbers-socials-link"
              href="https://linkedin.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg class="barber-social-icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-linkedin"></use></svg
            ></a>
          </li>
        </ul>
      </li>
      <li class="barbers-list-item">
        <div class="barber-img-wrapper">
          <picture>
            <source
              srcset="
                ./images/barber-michael-doe.jpg    1x,
                ./images/barber-michael-doe@2x.jpg 2x,
                ./images/barber-michael-doe@3x.jpg 3x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/barber-michael-doe-tablet.jpg    1x,
                ./images/barber-michael-doe-tablet@2x.jpg 2x,
                ./images/barber-michael-doe-tablet@3x.jpg 3x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/barber-michael-doe-mobile.jpg    1x,
                ./images/barber-michael-doe-mobile@2x.jpg 2x,
                ./images/barber-michael-doe-mobile@3x.jpg 3x
              "
              media="(min-width:320px)"
            />
            <img
              class="barber-img"
              src="./images/barber-michael-doe.jpg"
              alt="Barber at work"
            />
          </picture>
          <p class="barber-overlay-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
            voluptatum repellendus necessitatibus, facere veniam itaque quam
            omnis iusto ad sequi totam incidunt saepe. Possimus rerum velit
            inventore perferendis nobis eveniet? Lorem ipsum dolor, sit amet
          </p>
        </div>

        <h3 class="barber-name">Michael Doe</h3>
        <p class="barber-skill">Extreme barber</p>
        <ul class="barbers-socials-list">
          <li class="barber-socials-item">
            <a
              class="barbers-socials-link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg class="barber-social-icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-instagram"></use></svg
            ></a>
          </li>
          <li class="barber-socials-item">
            <a
              class="barbers-socials-link"
              href="https://twitter.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg class="barber-social-icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-twitter"></use></svg
            ></a>
          </li>
          <li class="barber-socials-item">
            <a
              class="barbers-socials-link"
              href="https://facebook.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg class="barber-social-icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-facebook"></use></svg
            ></a>
          </li>
          <li class="barber-socials-item">
            <a
              class="barbers-socials-link"
              href="https://linkedin.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg class="barber-social-icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-linkedin"></use></svg
            ></a>
          </li>
        </ul>
      </li>
      <li class="barbers-list-item">
        <div class="barber-img-wrapper">
          <picture>
            <source
              srcset="
                ./images/barber-alan-black.jpg    1x,
                ./images/barber-alan-black@2x.jpg 2x,
                ./images/barber-alan-black@3x.jpg 3x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/barber-alan-black-tablet.jpg    1x,
                ./images/barber-alan-black-tablet@2x.jpg 2x,
                ./images/barber-alan-black-tablet@3x.jpg 3x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/barber-alan-black-mobile.jpg    1x,
                ./images/barber-alan-black-mobile@2x.jpg 2x,
                ./images/barber-alan-black-mobile@3x.jpg 3x
              "
              media="(min-width:320px)"
            />
            <img
              class="barber-img"
              src="./images/barber-alan-black.jpg"
              alt="Barber at work"
            />
          </picture>
          <p class="barber-overlay-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
            voluptatum repellendus necessitatibus, facere veniam itaque quam
            omnis iusto ad sequi totam incidunt saepe. Possimus rerum velit
            inventore perferendis nobis eveniet? Lorem ipsum dolor, sit amet
          </p>
        </div>

        <h3 class="barber-name">Alan Black</h3>
        <p class="barber-skill">Extreme barber</p>
        <ul class="barbers-socials-list">
          <li class="barber-socials-item">
            <a
              class="barbers-socials-link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg class="barber-social-icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-instagram"></use></svg
            ></a>
          </li>
          <li class="barber-socials-item">
            <a
              class="barbers-socials-link"
              href="https://twitter.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg class="barber-social-icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-twitter"></use></svg
            ></a>
          </li>
          <li class="barber-socials-item">
            <a
              class="barbers-socials-link"
              href="https://facebook.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg class="barber-social-icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-facebook"></use></svg
            ></a>
          </li>
          <li class="barber-socials-item">
            <a
              class="barbers-socials-link"
              href="https://linkedin.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg class="barber-social-icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-linkedin"></use></svg
            ></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
