<!-- //////////////////////////////// OUR CONTACTS AND ONLINE BOOKING FORM ///////////////////////////////////////////////// -->
<section id="contacts" class="contacts-and-book-online">
  <div class="container">
    <div class="book-online">
      <h2 class="section-header" data-aos="fade-right">Online booking</h2>
      <form class="book-online-form" action="" data-aos="zoom-in-up">
        <div class="inputs-wrapper">
          <input
            type="text"
            placeholder="name*"
            class="form-name-input form-input"
          />
          <input
            type="text"
            placeholder="telephone*"
            class="form-tel-input form-input"
          />
        </div>

        <div class="form-message-wrapper">
          <input
            type="text"
            class="form-message-input form-input"
            id="form-message"
          />
          <label for="form-message" class="form-message-label">Message</label>
        </div>
        <div class="btn-wrapper" data-aos="fade-up-right">
          <button class="btn">send</button>
        </div>
      </form>
    </div>

    <div class="contacts">
      <h2 class="section-header" data-aos="fade-left">Contacts</h2>
      <address data-aos="zoom-in-up">
        <ul class="contacts-list">
          <li class="contacts-list-item sub-title">
            <a
              href="https://maps.app.goo.gl/VMgreFVKzcaUa7dr8"
              target="_blank"
              rel="noopener nofollow noreferrer"
              class="contacts-link sub-title"
              ><svg class="contacts-icon" width="24" height="24">
                <use href="./images/symbol-defs.svg#icon-map-pin"></use>
              </svg>
              Rua Almeida Garrett Raposo, 64A Loja A, <br />Faro 8000-360</a
            >
          </li>
          <li class="contacts-list-item sub-title">
            <a href="tel:+351289987456" class="contacts-link sub-title"
              ><svg class="contacts-icon" width="24" height="24">
                <use href="./images/symbol-defs.svg#icon-phone"></use></svg
              >+351 289 987 456</a
            >
          </li>
          <li class="contacts-list-item sub-title">
            <a href="mailto:barberfaro@mail.com" class="contacts-link sub-title"
              ><svg class="contacts-icon" width="24" height="24">
                <use href="./images/symbol-defs.svg#icon-mail"></use></svg
              >barberfaro@mail.com</a
            >
          </li>
        </ul>
      </address>
      <p class="pre-title" data-aos="fade-right">working hours</p>
      <p class="sub-title" data-aos="fade-up">Every day from 9:00 to 22:00</p>
    </div>
  </div>
</section>
