<!-- //////////////////////////////// OUR CONTACTS AND ONLINE BOOKING FORM ///////////////////////////////////////////////// -->
<seection>
  <h2>Online booking</h2>
  <form action="">
    <input type="text" /><input type="text" /><input
      type="text"
    /><button></button>
  </form>
</seection>
<section>
  <h2>Contacts</h2>
  <address>
    <ul>
      <li>
        <a
          href="https://maps.app.goo.gl/VMgreFVKzcaUa7dr8"
          target="_blank"
          rel="noopener nofollow noreferrer"
          >Rua Almeida Garrett Raposo, 64A Loja A, Faro 8000-360</a
        >
      </li>
      <li><a href="tel:+351289987456">+351 289 987 456</a></li>
      <li><a href="mailto:barberfaro@mail.com">barberfaro@mail.com</a></li>
    </ul>
  </address>
  <p>working hours</p>
  <p>Every day from 9:00 to 22:00</p>
</section>
