<!-- //////////////////////////////// GALLERY ///////////////////////////////////////////////// -->
<section id="gallery" class="gallery">
  <div class="container">
    <p class="pre-title" data-aos="fade-right">
      In Latin, “barba” means “beard”
    </p>
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="gallery-list">
      <li class="gallery-list-item" data-aos="fade-right">
        <img
          class="gallery-list-img"
          src="./images/gallery_1.jpg"
          alt="Barber cutting a hair with hair cutting machine"
          width="270"
          height="360"
        />
      </li>
      <li class="gallery-list-item" data-aos="fade-up">
        <img
          class="gallery-list-img"
          src="./images/gallery_2.jpg"
          alt="Barber applying a shaving foam"
          width="270"
          height="360"
        />
      </li>
      <li class="gallery-list-item" data-aos="fade-up">
        <img
          class="gallery-list-img"
          src="./images/gallery_3.jpg"
          alt="Hot towel pre-shave procedure"
          width="270"
          height="360"
        />
      </li>
      <li class="gallery-list-item" data-aos="fade-left">
        <img
          class="gallery-list-img"
          src="./images/gallery_4.jpg"
          alt="Cutting a hair with with a straight razor"
          width="270"
          height="360"
        />
      </li>
    </ul>
  </div>
</section>
