<!-- ///////////////////////////////HEADER//////////////////////////////////////////////////////////// -->
<header class="header" data-aos="fade-down">
  <div class="container">
    <a href="/" class="header-logo-link" data-aos="fade-right">
      <svg class="header-logo-icon" width="66" height="56">
        <use href="./images/symbol-defs.svg#icon-main-logo"></use>
      </svg>
    </a>

    <nav class="header-nav">
      <ul class="header-nav-list list">
        <li class="header-navList-item">
          <a class="header-navList-link header-text" href="#about-us"
            >About us</a
          >
        </li>
        <li class="header-navList-item">
          <a class="header-navList-link header-text" href="#prices"
            >Services & prices</a
          >
        </li>
        <li class="header-navList-item">
          <a class="header-navList-link header-text" href="#barbers"
            >Our barbers</a
          >
        </li>
        <li class="header-navList-item">
          <a class="header-navList-link header-text" href="#contacts"
            >Contacts</a
          >
        </li>
      </ul>
    </nav>

    <div class="header-contacts">
      <a href="tel:+351987654321" class="header-text header-tel"
        >+351 987 654 321</a
      >
      <div class="btn-wrapper" data-aos="fade-left">
        <button type="button" class="btn" data-modal-open>Book online</button>
      </div>
    </div>
  </div>
</header>
