<!-- ///////////////////////////////HEADER//////////////////////////////////////////////////////////// -->
<header class="header">
  <a href="/" class="header-logo">
    <img src="./images/logo_barbershop.svg" alt="barbershop logo" />
  </a>

  <nav class="header-nav">
    <ul class="header-nav-list">
      <li class="header-navList-item">
        <a class="header-navList-link" href="">About us</a>
      </li>
      <li class="header-navList-item">
        <a class="header-navList-link" href="">Services & prices</a>
      </li>
      <li class="header-navList-item">
        <a class="header-navList-link" href="#barbers">Our barbers</a>
      </li>
      <li class="header-navList-item">
        <a class="header-navList-link" href="">Contacts</a>
      </li>
    </ul>
  </nav>

  <a href="tel:+351987654321" class="">+351 987 654 321</a>
  <button type="button">Book online</button>
</header>
