<!-- /////////////////////////////// HERO //////////////////////////////////////////////////////////// -->
<section class="hero">
  <div class="container">
    <ul class="hero-socialList">
      <li class="hero-socialList-item">
        <a
          href="https://www.instagram.com/"
          class="hero-social-link social-link"
          target="_blank"
          rel="noopener nofollow noreferrer"
          >Instagram</a
        >
      </li>
      <li class="hero-socialList-item">
        <a
          href="https://www.youtube.com/"
          class="hero-social-link social-link"
          target="_blank"
          rel="noopener nofollow noreferrer"
          >Youtube</a
        >
      </li>
    </ul>
    <div class="hero-content">
      <p class="pre-title">A HAIR SALOON FOR MEN IN FARO</p>
      <h1 class="hero-header">BarberShop</h1>
      <p class="sub-title">
        We are experts in fashionable men's haircuts. We work quickly, carefully
        and tastefully.
      </p>
    </div>
  </div>
</section>
