<!-- /////////////////////////////// HERO //////////////////////////////////////////////////////////// -->
<section class="hero">
  <ul class="hero-socialList">
    <li class="hero-socialList-item">
      <a
        href="https://www.instagram.com/"
        class="hero-socialList-link"
        target="_blank"
        rel="noopener nofollow noreferrer"
        >Instagram</a
      >
    </li>
    <li class="hero-socialList-item">
      <a
        href="https://www.youtube.com/"
        class="hero-socialList-link"
        target="_blank"
        rel="noopener nofollow noreferrer"
        >Youtube</a
      >
    </li>
  </ul>

  <p class="pre-title">A HAIR SALOON FOR MEN IN FARO</p>
  <h1 class="hero-title">BarberShop</h1>
  <p class="sub-title">
    We are experts in fashionable men's haircuts. We work quickly, carefully and
    tastefully.
  </p>
</section>
h
