<header>
  <a href="/">
    <img src="./images/logo_barbershop.svg" alt="barbershop logo" />
  </a>

  <nav>
    <ul>
      <li><a href="">About us</a></li>
      <li><a href="">Services & prices</a></li>
      <li><a href="">Our barbers</a></li>
      <li><a href="">Contacts</a></li>
    </ul>
  </nav>

  <a href="tel:+351987654321">+351 987 654 321</a>
  <button type="button">Book online</button>

  <section>
    <ul>
      <li>
        <a href="" target="_blank" rel="noopener nofollow noreferrer"
          >Instagram</a
        >
      </li>
      <li>
        <a href="" target="_blank" rel="noopener nofollow noreferrer"
          >Youtube</a
        >
      </li>
    </ul>

    <p>A HAIR SALOON FOR MEN IN FARO</p>
    <h1>BarberShop</h1>
    <p>
      We are experts in fashionable men's haircuts. We work quickly, carefully
      and tastefully.
    </p>
  </section>
</header>
<!-- ///////////////////////////////ABOUT US//////////////////////////////////////////////////////////// -->
<section>
  <ul>
    <li>
      <img
        src="./images/aboutUs_img_1.jpg"
        width="270"
        height="445"
        alt="Barber at work"
      />
    </li>
    <li>
      <img
        src="./images/aboutUs_img_2.jpg"
        width="270"
        height="445"
        alt="Barber at work"
      />
    </li>
  </ul>

  <p>About us</p>
  <h2>The best Barbershop in your city</h2>
  <p>
    If you want to add more confidence to your image, you should definitely come
    to us.
  </p>
  <p>
    We are a team that never rests on its laurels and is hungry for change. And
    when you fall into the hands of our master, you will never be the same
    again. We are a team that is always on the same page with our clients.
    Therefore, we are always ready to improve everyone who comes to us!
  </p>
  <button type="button">Book online</button>
</section>
<!-- ////////////////////////////////SERVICES & PRICES/////////////////////////////////////////////////////////// -->
<section>
  <p>Spend your time in the company of the best masters</p>
  <h2>Services & prices</h2>
  <ul>
    <li>
      <p>Men's haircut</p>
      <p>15 €</p>
    </li>
    <li>
      <p>Beard trim</p>
      <p>6,50 €</p>
    </li>
    <li>
      <p>Mustache trim</p>
      <p>8 €</p>
    </li>
    <li>
      <p>Shaving with a straight razor</p>
      <p>10 €</p>
    </li>
  </ul>
  <ul>
    <li>
      <p>Haircut + beard/mustache trim</p>
      <p>20 €</p>
    </li>
    <li>
      <p>Hot towel pre-shave</p>
      <p>10 €</p>
    </li>
    <li>
      <p>Sideburns</p>
      <p>4 €</p>
    </li>
    <li>
      <p>Haircut with trainee</p>
      <p>4,50 €</p>
    </li>
  </ul>

  <button type="button">Book online</button>
</section>
<!-- /////////////////////////////////////////////////////////////////////////////////////////// -->
<section>
  <ul>
    <li>
      <span>40</span>
      <p>Satisfied clients per day</p>
    </li>
    <li>
      <span>50</span>
      <p>Awards for excellent service</p>
    </li>
    <li>
      <span>5</span>
      <p>Of the Portugal's best barbers</p>
    </li>
    <li>
      <span>100</span>
      <p>Gifts for regular customers</p>
    </li>
  </ul>

  <p>Old traditional school</p>
  <h2>Why do people come to us?</h2>
  <p>
    Our customers only say good things about us. But it's better to see and feel
    it once than to read it 10 times.
  </p>
</section>
<!-- ////////////////////////////OUR BARBERS TEAM/////////////////////////////////////////////////////////////// -->
<section>
  <p>For true connoisseurs of atmosphere</p>
  <h2>Our masters</h2>
  <ul>
    <li>
      <img
        src="./images/barber-john-smith.jpg"
        alt=""
        width="370"
        heigth="346"
      />
      <h3>John Smith</h3>
      <p>Extreme barber</p>
      <ul>
        <li>
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener nofollow noreferrer"
            >instagram</a
          >
        </li>
        <li>
          <a
            href="https://twitter.com/"
            target="_blank"
            rel="noopener nofollow noreferrer"
            >twitter</a
          >
        </li>
        <li>
          <a
            href="https://facebook.com/"
            target="_blank"
            rel="noopener nofollow noreferrer"
            >facebook</a
          >
        </li>
        <li>
          <a
            href="https://linkedin.com/"
            target="_blank"
            rel="noopener nofollow noreferrer"
            >linkedin</a
          >
        </li>
      </ul>
    </li>
    <li>
      <img
        src="./images/barber-michael-doe.jpg"
        alt=""
        width="370"
        heigth="346"
      />
      <h3>Michael Doe</h3>
      <p>Extreme barber</p>
      <ul>
        <li>
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener nofollow noreferrer"
            >instagram</a
          >
        </li>
        <li>
          <a
            href="https://twitter.com/"
            target="_blank"
            rel="noopener nofollow noreferrer"
            >twitter</a
          >
        </li>
        <li>
          <a
            href="https://facebook.com/"
            target="_blank"
            rel="noopener nofollow noreferrer"
            >facebook</a
          >
        </li>
        <li>
          <a
            href="https://linkedin.com/"
            target="_blank"
            rel="noopener nofollow noreferrer"
            >linkedin</a
          >
        </li>
      </ul>
    </li>
    <li>
      <img
        src="./images/barber-alan-black.jpg"
        alt=""
        width="370"
        heigth="346"
      />
      <h3>Alan Black</h3>
      <p>Extreme barber</p>
      <ul>
        <li>
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener nofollow noreferrer"
            >instagram</a
          >
        </li>
        <li>
          <a
            href="https://twitter.com/"
            target="_blank"
            rel="noopener nofollow noreferrer"
            >twitter</a
          >
        </li>
        <li>
          <a
            href="https://facebook.com/"
            target="_blank"
            rel="noopener nofollow noreferrer"
            >facebook</a
          >
        </li>
        <li>
          <a
            href="https://linkedin.com/"
            target="_blank"
            rel="noopener nofollow noreferrer"
            >linkedin</a
          >
        </li>
      </ul>
    </li>
  </ul>
</section>
