<!-- //////////////////////////////////////OUR FEATURES///////////////////////////////////////////////////// -->
<section id="features" class="features">
  <div class="container">
    <ul class="features-list">
      <div class="features-list-left">
        <li class="features-list-item" data-aos="zoom-in-right">
          <span class="feature-number">40</span>
          <p class="feature-text">Satisfied clients per day</p>
        </li>
        <li class="features-list-item" data-aos="zoom-in-right">
          <span class="feature-number">50</span>
          <p class="feature-text">Awards for excellent service</p>
        </li>
      </div>

      <div class="features-list-right">
        <li class="features-list-item" data-aos="zoom-in-left">
          <span class="feature-number">5</span>
          <p class="feature-text">Of the Portugal's best barbers</p>
        </li>
        <li class="features-list-item" data-aos="zoom-in-left">
          <span class="feature-number">100</span>
          <p class="feature-text">Gifts for regular customers</p>
        </li>
      </div>
    </ul>
    <div class="features-text-wrapper">
      <p class="pre-title" data-aos="fade-right">Old traditional school</p>
      <h2 class="section-header" data-aos="fade-left">
        Why do people come to us?
      </h2>
      <p class="sub-title" data-aos="fade-up">
        Our customers only say good things about us. But it's better to see and
        feel it once than to read it 10 times.
      </p>
    </div>
  </div>
</section>
