<!-- //////////////////////////////////////OUR FEATURES///////////////////////////////////////////////////// -->
<section class="features">
  <ul class="features-list">
    <li class="features-list-item">
      <span class="">40</span>
      <p class="">Satisfied clients per day</p>
    </li>
    <li class="features-list-item">
      <span class="features-list-item">50</span>
      <p class="">Awards for excellent service</p>
    </li>
    <li class="features-list-item">
      <span class="">5</span>
      <p class="">Of the Portugal's best barbers</p>
    </li>
    <li class="features-list-item">
      <span class="features-number">100</span>
      <p class="features-text">Gifts for regular customers</p>
    </li>
  </ul>

  <p class="pre-title">Old traditional school</p>
  <h2 class="section-header">Why do people come to us?</h2>
  <p class="sub-title">
    Our customers only say good things about us. But it's better to see and feel
    it once than to read it 10 times.
  </p>
</section>
