<!-- ////////////////////////////////SERVICES & PRICES/////////////////////////////////////////////////////////// -->
<section>
  <p>Spend your time in the company of the best masters</p>
  <h2>Services & prices</h2>
  <ul>
    <li>
      <p>Men's haircut</p>
      <p>15 €</p>
    </li>
    <li>
      <p>Beard trim</p>
      <p>6,50 €</p>
    </li>
    <li>
      <p>Mustache trim</p>
      <p>8 €</p>
    </li>
    <li>
      <p>Shaving with a straight razor</p>
      <p>10 €</p>
    </li>
  </ul>
  <ul>
    <li>
      <p>Haircut + beard/mustache trim</p>
      <p>20 €</p>
    </li>
    <li>
      <p>Hot towel pre-shave</p>
      <p>10 €</p>
    </li>
    <li>
      <p>Sideburns</p>
      <p>4 €</p>
    </li>
    <li>
      <p>Haircut with trainee</p>
      <p>4,50 €</p>
    </li>
  </ul>

  <button type="button">Book online</button>
</section>
