<!-- ////////////////////////////////SERVICES & PRICES/////////////////////////////////////////////////////////// -->
<section class="prices">
  <div class="container">
    <p class="pre-title" data-aos="fade-right">
      Spend your time in the company of the best masters
    </p>
    <h2 class="section-header" data-aos="fade-left">Services & prices</h2>
    <div class="prices-wrapper">
      <ul class="prices-list">
        <li class="prices-list-item">
          <p class="sub-title" data-aos="fade-right">Men's haircut</p>
          <p class="sub-title" data-aos="fade-left">from 15 €</p>
        </li>
        <li class="prices-list-item">
          <p class="sub-title" data-aos="fade-right">Beard trim</p>
          <p class="sub-title" data-aos="fade-left">from 6,50 €</p>
        </li>
        <li class="prices-list-item">
          <p class="sub-title" data-aos="fade-right">Mustache trim</p>
          <p class="sub-title" data-aos="fade-left">from 8 €</p>
        </li>
        <li class="prices-list-item">
          <p class="sub-title" data-aos="fade-right">
            Shaving with a straight razor
          </p>
          <p class="sub-title" data-aos="fade-left">from 10 €</p>
        </li>
      </ul>
      <ul class="prices-list">
        <li class="prices-list-item">
          <p class="sub-title" data-aos="fade-right">
            Haircut + beard/mustache trim
          </p>
          <p class="sub-title" data-aos="fade-left">from 20 €</p>
        </li>
        <li class="prices-list-item">
          <p class="sub-title" data-aos="fade-right">Hot towel pre-shave</p>
          <p class="sub-title" data-aos="fade-left">from 10 €</p>
        </li>
        <li class="prices-list-item">
          <p class="sub-title" data-aos="fade-right">Sideburns</p>
          <p class="sub-title" data-aos="fade-left">from 4 €</p>
        </li>
        <li class="prices-list-item">
          <p class="sub-title" data-aos="fade-right">Haircut with trainee</p>
          <p class="sub-title" data-aos="fade-left">from 4,50 €</p>
        </li>
      </ul>
    </div>

    <button type="button" class="btn prices-btn" data-aos="fade-up">
      Book online
    </button>
  </div>
</section>
