<!-- ////////////////////////////////SERVICES & PRICES/////////////////////////////////////////////////////////// -->
<section id="prices" class="prices">
  <div class="container">
    <p class="pre-title" ">
      Spend your time in the company of the best masters
    </p>
    <h2 class="section-header" >Services & prices</h2>
    <div class="prices-wrapper">
      <ul class="prices-list">
        <li class="prices-list-item">
          <p class="sub-title" >Men's haircut</p>
          <p class="sub-title" >from 15 €</p>
        </li>
        <li class="prices-list-item">
          <p class="sub-title">Beard trim</p>
          <p class="sub-title">from 6,50 €</p>
        </li>
        <li class="prices-list-item">
          <p class="sub-title" >Mustache trim</p>
          <p class="sub-title" >from 8 €</p>
        </li>
        <li class="prices-list-item">
          <p class="sub-title">Shaving with a straight razor</p>
          <p class="sub-title">from 10 €</p>
        </li>
      </ul>
      <ul class="prices-list">
        <li class="prices-list-item">
          <p class="sub-title">Haircut + beard/mustache trim</p>
          <p class="sub-title">from 20 €</p>
        </li>
        <li class="prices-list-item">
          <p class="sub-title">Hot towel pre-shave</p>
          <p class="sub-title">from 10 €</p>
        </li>
        <li class="prices-list-item">
          <p class="sub-title">Sideburns</p>
          <p class="sub-title">from 4 €</p>
        </li>
        <li class="prices-list-item">
          <p class="sub-title">Haircut with trainee</p>
          <p class="sub-title">from 4,50 €</p>
        </li>
      </ul>
    </div>

    <div class="btn-wrapper">
      <button type="button" class="prices-btn btn" data-modal-open>
        Book online
      </button>
    </div>
  </div>
</section>
